body {
  font-family: "Neue Pixel Sans", monospace, sans-serif;
  background-color: lightgray;
  user-select: none;
}
.section-left {
  float: left;
  width: 80%;
  height: 1070px;
}

.section-right {
  float: right;
  width: 20%;
}

.score-container {
  width: 90%;
  text-align: center;
  color: lightgray;
  background-color: #2c2c2c;
  margin-top: 20px;
  border: 4px solid black;
  border-radius: 200px;
}

.clicker-container {
  margin-left: 320px;
  margin-top: 50px;
}

.clicker-container img {
  cursor: pointer;
}

.shopButton {
  width: 19.67%;
  float: right;
  background-color: #b5b5b5;
  margin: 10px 0px 10px 0px;
  border: 3px solid gray;
}

.shopButton #image {
  width: 25%;
}

.shopButton #nameAndPrice {
  margin: 0px;
  width: 60%;
}

.shopButton #level {
  font-size: 48px;
}

#shop-type {
  font-size: 12px;
  font-weight: bold;
}

.shopButton:hover {
  background-color: lightgray;
}

#notification:hover {
  background-color: #b5b5b5;
}
