/* This CSS file is for every single main page */

/* Those pages are HOME and ABOUT */

body {
  background-color: lightblue;
  font-family: monospace, sans-serif;
  margin: 0
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5492d1;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #103f6e;
}

.active {
  background-color: #103f6e;
}